
          </div>
          <div class="large-3 medium-3 columns">
            <div class="hide-for-small">
              <div class="sidebar">
                <nav>
                  <ul id="side-nav" class="side-nav">
                    {% for c in categoriesTree %}
                    <li class="side-title"><span>{{ c.name }}</span></li>
                    {% for p2 in c.posts %}
                    <li><a title="{{ p2.title }}" href="{{ p2.url }}">{{ p2.title }}</a></li>
                    {% /for %}
                    {% /for %}
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="page-bottom">
          <div class="row">
            <hr />
            <div class="small-9 columns">
              <p class="copyright">Contact Me&nbsp;
                Tel: +86 18641188786,&nbsp;
                mail: 416376663@qq.com</p>
            </div>
            <div class="small-3 columns">
              <p class="copyright text-right"><a href="#top">TOP</a></p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <script src="asset/js/foundation.min.js"></script>
  <script src="asset/js/foundation/foundation.offcanvas.js"></script>
  <script>
    $(document).foundation();
  </script>
  {{ seqAndFlowChartSupport }}
  {{ mathJaxSupport }}
  {{ siteOther }}
</body>

</html>